<template>
  <Card rowSpan="row-span-2" colSpan="md:col-span-4" title="About Me">
    <p>
      Experienced software engineer with expertise in full-stack development,
      backend architecture and microservices. Skilled in utilizing Python, C++
      and JavaScript, optimizing system performance and system responsiveness.
      Streamlining development worklows through CI/CD pipeline automation.
      Committed to delivering exceptional results and driving continuous
      improvement.
    </p>
  </Card>
</template>

<style scoped>
p {
  color: var(--darkslate-200);
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";
</script>
