<template>
  <Card rowSpan="row-span-2" colSpan="col-span-2" title="Certifications">
    <div class="cert__container">
      <div class="cert__entry">
        <p class="cert__title">AWS Developer Associate</p>
        <p class="cert__date text__subdued">2024</p>
      </div>
      <div class="cert__entry">
        <p class="cert__title">AWS Cloud Practitioner</p>
        <p class="cert__date text__subdued">2024</p>
      </div>
    </div>
  </Card>
</template>

<style scoped>
.cert__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}

.cert__entry:not(:first-child) {
  margin-top: 1rem;
}

.cert__date {
  font-size: var(--fs-200);
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";
</script>
