<template>
  <Card rowSpan="row-span-2" colSpan="col-span-2" title="Education">
    <div class="am__container">
      <p class="am__link">
        <a
          href="https://www.stevens.edu/"
          target="_blank"
          class="text__accent fancy__link"
        >
          Stevens Institute of Technology
        </a>
      </p>
      <p class="mt-2">
        Master's in Computer Engineering
        <!-- <span class="text__subdued">- 2017</span> -->
      </p>
      <p class="text__subdued">2012 - 2017</p>
      <p class="mt-4">
        Bachelor's in Mechanical Engineering
        <!-- <span class="text__subdued">- 2017</span> -->
      </p>
      <p class="text__subdued">2012 - 2017</p>
    </div>
  </Card>
</template>

<style scoped>
.am__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  --startColor: var(--primary-500);
  --endColor: var(--primary-500);
}

.am__link {
  font-size: var(--fs-300);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h6 {
  margin-top: 0.5rem;
}

p {
  font-size: var(--fs-200);
}

/* .am__container > * + * {
  margin-top: 0.5em;
} */
</style>

<script setup>
import Card from "@/components/base/Card.vue";
</script>
