<template>
  <Card rowSpan="row-span-4" colSpan="col-span-2" title="Projects">
    <div class="projects__container">
      <div v-for="project in projects" :key="project.name" class="project">
        <div class="project__header">
          <p class="text__accent">{{ project.name }}</p>
          <a :href="project.href" target="_blank" class="text__accent">
            <i class="project__link fab fa-gitlab"></i>
          </a>
        </div>
        <p class="project__description">{{ project.description }}</p>
      </div>
      <p>
        View more at my
        <a
          href="https://gitlab.com/djdietrick"
          target="_blank"
          class="text__accent fancy__link"
          >Gitlab profile</a
        >!
      </p>
    </div>
  </Card>
</template>

<style scoped>
.projects__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  --startColor: var(--primary-500);
  --endColor: var(--primary-500);
}

.project__header {
  display: flex;
  justify-content: space-between;
}

.project__link {
  color: var(--darkslate-300);
  transition: 0.1s ease-in-out;
}
.project__link:hover {
  color: var(--primary-500);
}

.project__description {
  margin-top: 0.5rem;
}

.text__accent {
  font-size: var(--fs-300);
}

p {
  font-size: var(--fs-200);
}

.projects__container > * + * {
  margin-top: 0.3em;
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";

const projects = [
  {
    name: "Phish.in Player",
    href: "https://gitlab.com/dietrick/phishin-player-v2",
    description: `Media player built with React and AWS Lambda to retrieve and play live
      tapings of shows by the band Phish.`,
  },
  {
    name: "Electronic Vehicle Management API",
    href: "https://gitlab.com/djdietrick/electric-vehicle-management-api",
    description: `API built with Django to manage a fleet of electronic vehicles and 
      calculate the optimal charging route.`,
  },
  {
    name: "Go Radio API",
    href: "https://gitlab.com/djdietrick/go-radio-api",
    description: `API written in Go to parse local music collections and serve them to a 
      React media player frontend.`,
  },
];
</script>
