<template>
  <Card rowSpan="row-span-4" colSpan="col-span-2" title="Skills">
    <div class="skills__container">
      <div class="skills__section">
        <p class="text__accent">Languages</p>
        <div class="skills__content skills__languages">
          <p v-for="language in languages" :key="language">{{ language }}</p>
        </div>
      </div>
      <div class="skills__section">
        <p class="text__accent">Frameworks</p>
        <div class="skills__content skills__frameworks">
          <p v-for="framework in frameworks" :key="framework">
            {{ framework }}
          </p>
        </div>
      </div>
      <div class="skills__section">
        <p class="text__accent">Devops</p>
        <div class="skills__content skills__devops">
          <p v-for="tool in devops" :key="tool">{{ tool }}</p>
        </div>
      </div>
    </div>
  </Card>
</template>

<style scoped>
.skills__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills__content {
  display: grid;
  gap: 0.5rem;
  text-align: center;
  padding-top: 0.5rem;
}

.skills__languages {
  grid-template-columns: repeat(3, 1fr);
}

.skills__frameworks {
  grid-template-columns: repeat(3, 1fr);
}

.skills__devops {
  grid-template-columns: repeat(3, 1fr);
}

.text__accent {
  font-size: var(--fs-300);
}

p {
  font-size: var(--fs-200);
}

.skills__container > * + * {
  margin-top: 0.3em;
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";

const languages = [
  "Python",
  "C++",
  "Typescript",
  "Go",
  "Rust",
  "Java",
  "SQL",
  "HTML",
  "CSS",
  "Bash",
  "Git",
];

const frameworks = ["Vue", "React", "MongoDB", "GraphQL", "Flask", "Django"];

const devops = [
  "Docker",
  "Kubernetes",
  "AWS",
  "CI/CD",
  "Gitops",
  "Terraform",
  "Firebase",
];
</script>
