<template>
  <Card rowSpan="row-span-8" colSpan="col-span-2" title="Work Experience">
    <div class="we-container">
      <div
        v-for="job in jobs"
        :key="job.company"
        class="job"
        :style="`--startColor: ${job.colors[0]}; --endColor: ${job.colors[1]}`"
      >
        <h6 class="job__title">{{ job.title }}</h6>
        <a :href="job.link" class="job__company fancy__link" target="_blank">
          {{ job.company }}
        </a>
        <p class="job__date">{{ job.date }}</p>
        <p class="job__description">{{ job.description }}</p>
        <ul>
          <li v-for="point in job.points" :key="point">{{ point }}</li>
        </ul>
      </div>
    </div>
  </Card>
</template>

<style scoped>
.we-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job:not(:first-child) {
  margin-top: 1rem;
}

.job__title {
  color: var(--darkslate-300);
}

.job__company {
  color: var(--darkslate-300);
  cursor: pointer;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

.job__description {
  color: var(--darkslate-300);
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: var(--fs-200);
}

.card .job__company {
  transition-duration: 0.5s;
}

.job__title {
  color: var(--darkslate-200);
}

.job__company {
  background: linear-gradient(to right, var(--startColor), var(--endColor));
  background-clip: text;
  color: transparent;
}

.job__date {
  color: var(--darkslate-300);
}

ul {
  margin-top: 1rem;
  margin-left: 1.5rem;
  list-style-type: square;
}

li {
  color: var(--darkslate-200);
  font-size: var(--fs-200);
}
li:not(:first-child) {
  margin-top: 0.5rem;
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";

let jobs = [
  {
    title: "Fullstack Software Developer",
    company: "Liquidnet",
    date: "2020 - 2024",
    description: "Python, Vue, OracleSQL, Kubernetes, Gitops",
    colors: ["#F24A2C", "#A60194"],
    link: "https://www.liquidnet.com/",
    points: [
      `Developed high-performance	Python & C++ backend	microservices, 
      leveraging Solace messaging	queues to optimize communication efficiency,reducing message 
      processing latency by 20%.`,
      `Redesigned	frontend GUIs	using	Vue.js to improve	system performance and user	experience,
      reducing	page load	times	from 30	seconds	to 5 seconds.`,
      `Implemented	CI/CD	pipelines	within	GitLab’s	integrated	framework,	automating	
      containerized	testing,	linting,	building,	packaging,	publishing,	and	deployment	
      processes,	increasing	development	speed	by	30%	and	enhancing	system	reliability.`,
    ],
  },
  {
    title: "Software Engineer",
    company: "Rebar Systems",
    date: "2017 - 2020",
    description: "C++, MySQL, Java, Rust",
    colors: ["#0C949D", "#FFFFFF"],
    link: "https://www.rebarsys.com/",
    points: [
      `Architected	a	backend	codebase	for	an	Order	and	Execution	Management	System	(OEMS)	
      for	large	volume	hedge	funds,	utilizing	C++,	Java,	and	Rust to reduce	
      processing	time	by	300 ms.`,
      `Spearheaded	the	design of	a	high-performance	compliance	engine	
      processing	extensive	order	volumes,	achieving	a	40%	increase	in	processing	speed	
      and	reducing	compliance-related	incidents	by	35%.`,
    ],
  },
];
</script>
