<template>
  <main
    ref="mainElement"
    class="m-auto grid w-full gap-4 overflow-hidden p-4 text-white md:grid-cols-3 md:p-6 md:px-12 lg:max-h-[1000px] lg:grid-cols-4 lg:grid-rows-8"
  >
    <Intro />
    <AboutMe />
    <Work />
    <Socials />
    <Time />
    <Server />
    <Graphic />
    <Learning />
    <Playground />
    <ColorPicker />
    <Copyright />
  </main>
</template>

<style scoped>
main {
  max-width: 72rem;
}
</style>

<script setup>
import Intro from "@/components/bento/Intro.vue";
import AboutMe from "@/components/bento/AboutMe.vue";
import Work from "@/components/bento/Work.vue";
import Socials from "@/components/bento/Socials.vue";
import Time from "@/components/bento/Time.vue";
import Server from "@/components/bento/Server.vue";
import Graphic from "../components/bento/Graphic.vue";
import ColorPicker from "../components/bento/ColorPicker.vue";
import Learning from "../components/bento/Learning.vue";
import Copyright from "../components/bento/Copyright.vue";
import Playground from "../components/bento/Playground.vue";

import { onMounted } from "vue";
import { stagger, spring, timeline } from "motion";

onMounted(() => {
  const loaderAnimation = [
    ".loader",
    { opacity: [1, 0], pointerEvents: "none" },
    { easing: "ease-out" },
  ];
  const cards = document.querySelectorAll(".card");
  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.15),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence);
});
</script>
