<template>
  <main
    ref="mainElement"
    class="m-auto grid w-full gap-4 overflow-hidden p-4 text-white md:grid-cols-3 md:p-6 md:px-12 lg:max-h-[1000px] lg:grid-cols-6 lg:grid-rows-8"
  >
    <a class="home__button" href="/" id="homeButton">
      <i class="fa fa-house"></i>
    </a>
    <AboutMe />
    <WorkExperience />
    <Education />
    <Certifications />
    <Skills />
    <Projects />
  </main>
  <div class="contact__container">
    <p class="contact">
      Interested in working together? Reach out on
      <a
        class="text__accent fancy__link"
        href="https://linkedin.com/in/djdietrick"
        target="_blank"
        >Linkedin</a
      >
      for my full resume!
    </p>
  </div>
</template>

<style scoped>
main {
  max-width: 72rem;
}

.home__button {
  position: fixed;
  z-index: 100;
  color: var(--darkslate-400);
  font-size: var(--fs-400);
  left: 1rem;
  top: 92vh;
  padding: 1rem;
  border: 1px solid var(--darkslate-300);
  border-radius: 1rem;
  background-color: var(--darkslate-300);
  transition: 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .home__button {
    color: var(--darkslate-300);
    top: 2rem;
    left: 2rem;
    border: none;
    background-color: transparent;
    opacity: 1;
  }
}

.home__button:hover {
  color: var(--primary-500);
}

.contact__container {
  --startColor: var(--primary-500);
  --endColor: var(--primary-500);
}

.contact {
  text-align: center;
  font-size: var(--fs-300);
  margin: 2rem;
}
</style>

<script setup>
import { onMounted, onUnmounted } from "vue";
import { stagger, spring, timeline } from "motion";

import AboutMe from "@/components/resume/AboutMe.vue";
import Skills from "@/components/resume/Skills.vue";
import Education from "@/components/resume/Education.vue";
import Certifications from "@/components/resume/Certifications.vue";
import WorkExperience from "@/components/resume/WorkExperience.vue";
import Projects from "@/components/resume/Projects.vue";

const handleScroll = () => {
  const homeButton = document.getElementById("homeButton");
  console.log("handle scroll");
  if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
    homeButton.style.top = "2rem";
  } else {
    homeButton.style.top = "92vh";
  }
};

onMounted(() => {
  window.addEventListener("scroll", handleScroll);
  const loaderAnimation = [
    ".loader",
    { opacity: [1, 0], pointerEvents: "none" },
    { easing: "ease-out" },
  ];
  const cards = document.querySelectorAll(".card");
  let other = [
    document.querySelector(".home__button"),
    document.querySelector(".contact"),
  ];
  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.15),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
    [
      other,
      { opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.15),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence);
});

onUnmounted(() => {
  window.removeEventListener("scroll", handleScroll);
});
</script>
