<template>
  <div class="button">
    <slot />
  </div>
</template>

<script setup>
defineProps(["href"]);
</script>

<style scoped>
.button {
  max-height: 50px;
  width: fit-content;
  background-color: var(--color-darkslate-900);
  cursor: pointer;
  padding: 0.5rem 1.25rem 0.5rem;

  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--primary-500);
  box-shadow: 2px 2px 0 var(--primary-500);

  font-size: 1.25rem;
  line-height: 1.75rem;

  font-weight: 100;

  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: var(--primary-500);
  /* scale: 102%; */

  font-weight: 300;
}
</style>
