<template>
  <div
    class="card perspective-1200 duration-125 col-span-1"
    :class="[colSpanClass, rowSpanClass, colStartClass, rowStartClass]"
  >
    <a v-if="href" :href="href" class="h-full w-full" :target="sameTabFlag">
      <h5 class="title--only" v-if="title">{{ title }}</h5>
      <!-- <slot /> -->
      <i class="arrow fas fa-arrow-right"></i>
    </a>
    <div
      v-else
      :class="{ 'pad-title': title }"
      class="card__container h-full w-full"
    >
      <h5 class="title" v-if="title">{{ title }}</h5>
      <slot />
    </div>
  </div>
</template>

<style scoped>
a {
  cursor: pointer;
}

.arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--darkslate-300);
  font-weight: 900;
}

.card {
  min-height: 4.2rem;
  background-color: var(--darkslate-500);
  position: relative;
  padding: 1.25rem;
  border: 1px solid var(--darkslate-400);
  border-radius: 0.375rem;

  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  overflow: hidden;
}
.card:hover,
.card:focus {
  border-color: var(--primary-500);
}
.title {
  top: 1rem;
  left: 1rem;
  position: absolute;

  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title--only {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;

  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .title,
.card:hover .title--only,
.card:focus .title,
.card:focus .title--only {
  color: var(--primary-500);
}

.card:hover .arrow,
.card:focus .arrow {
  color: var(--primary-500);
}

.card div {
  height: 100%;
  width: 100%;
}

.pad-title {
  padding-top: 1.5rem;
}

slot {
  display: block;
  height: 100%;
  width: 100%;
}
</style>

<script setup>
let props = defineProps([
  "title",
  "href",
  "colSpan",
  "rowSpan",
  "colStart",
  "rowStart",
  "sameTab",
]);

let colSpanClass = props.colSpan ? props.colSpan : "md:col-span-2";
let rowSpanClass = props.rowSpan ? props.rowSpan : "";
let colStartClass = props.colStart ? props.colStart : "";
let rowStartClass = props.rowStart ? props.rowStart : "";
let sameTabFlag = props.sameTab ? "_self" : "_blank";
</script>
