<template>
  <dialog ref="dialog">
    <div class="dialog__container">
      <i @click="close" class="close__icon"></i>
      <slot />
    </div>
  </dialog>
</template>

<script setup>
import { ref } from "vue";

const dialog = ref(null);

function close() {
  dialog.close();
}
</script>

<style scoped>
.close__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--darkslate-300);
  cursor: pointer;
}
.dialog {
  position: relative;
}
</style>
