<template>
  <Card rowSpan="row-span-6" colSpan="col-span-1" title="About Me">
    <div class="am__container">
      <h6>Education</h6>
      <p>
        <a
          href="https://www.stevens.edu/"
          target="_blank"
          class="text__accent fancy__link"
        >
          Stevens Institute of Technology
        </a>
      </p>
      <p>
        Master's in Computer Engineering
        <span class="text__subdued">- 2017</span>
      </p>
      <p>
        Bachelor's in Mechanical Engineering
        <span class="text__subdued">- 2017</span>
      </p>
      <br />
      <h6>Skills</h6>
      <p class="text__accent">Languages</p>
      <p>Python, C++, Javascript, Git, Go, SQL, HTML, CSS, Rust, Java, Bash</p>
      <p class="text__accent">Frameworks</p>
      <p>Vue, React, MongoDB, GraphQL, Flask, Django, Firebase</p>
      <p class="text__accent">Devops</p>
      <p>Docker, Kubernetes, AWS, CI/CD, Gitops, Terraform</p>
    </div>
  </Card>
</template>

<style scoped>
.am__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --startColor: var(--primary-500);
  --endColor: var(--primary-500);
}

h6 {
  margin-top: 0.5rem;
}

p {
  font-size: var(--fs-200);
}

.am__container > * + * {
  margin-top: 0.3em;
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";
</script>
