<template>
  <Card rowSpan="row-span-1" colSpan="col-span-1">
    <div class="cp-container">
      <div
        v-for="color in colors"
        :key="color.name"
        class="circle"
        :style="`background-color: ${color.hex}`"
        @click="setColor(color.name)"
      ></div>
    </div>
  </Card>
</template>

<style scoped>
.cp-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 10px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.circle:hover {
  transform: scale(1.1);
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";
import bus from "@/bus.js";

function setColor(color) {
  bus.emit("change-theme", color);
}

const colors = [
  { name: "blue-theme", hex: "var(--blue-500)" },
  { name: "green-theme", hex: "var(--green-500)" },
  { name: "purple-theme", hex: "var(--purple-500)" },
  { name: "orange-theme", hex: "var(--orange-500)" },
];
</script>
