<template>
  <Card rowSpan="row-span-1" colSpan="col-span-1">
    <div class="copy text-xs">
      © 2024 · Crafted with <i class="fas fa-heart text__green"></i> using
      <a href="https://vuejs.org/" target="_blank" class="text__green">Vue</a>
      by David Dietrick.
    </div>
  </Card>
</template>

<style scoped>
.card {
  text-align: center;
}
.copy {
  top: 50%;
  transform: translateY(25%);
  color: var(--darkslate-300);
}
.text__green {
  color: var(--green-500);
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";
</script>
