<template>
  <Card rowSpan="row-span-1" colSpan="col-span-1">
    <div class="graphic__container"></div>
  </Card>
</template>

<style scoped>
.card {
  padding: 0;
}
.graphic__container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    45deg,
    var(--blue-300),
    var(--blue-500),
    var(--green-300),
    var(--green-500),
    var(--purple-300),
    var(--purple-500),
    var(--orange-300),
    var(--orange-500)
  );
  background-size: 1000%;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";
</script>
