<template>
  <Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
    <div class="flex h-full w-full">
      <div class="into__container flex flex-col gap-4">
        <div id="intro__text" class="flex h-full flex-col">
          <p>
            <span>
              Hi! I'm <b class="text__accent">David Dietrick</b>, a full stack
              developer with experience in building modern, scalable web
              applications. I also have a passion for Devops and improving
              developer experiences.
            </span>
            <span class="mt-2 block"
              >Feel free to reach out with any interesting projects or just to
              say hello!
            </span>
          </p>
        </div>
        <!-- <div
          id="intro__buttons"
          class="flex flex-col gap-2 lg:flex-row lg:gap-4"
        >
          <div class="flex gap-2 lg:gap-4">
            <Button>
              <a href="mailto:myemail@gmail.com">Let's Talk!</a>
            </Button>
          </div>
        </div> -->
      </div>
      <img
        src="/memoji.png"
        alt=""
        class="z-1 pointer-events-none absolute bottom-[-20px] right-[-110px] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      />
    </div>
  </Card>
</template>

<style scoped>
@media (min-width: 768px) {
  .into__container {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";
import Button from "@/components/base/Button.vue";
</script>
