<template>
  <Card rowSpan="row-span-2" colSpan="col-span-1" title="What I'm Learning">
    <div class="learn__container">
      <a
        v-for="tech in techs"
        :key="tech.name"
        :href="tech.href"
        target="_blank"
      >
        <i :class="tech.icon_class"></i>
      </a>
    </div>
  </Card>
</template>

<style scoped>
.learn__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

a {
  cursor: pointer;
}

i {
  font-size: 3rem;
  color: var(--darkslate-300);
}
i:not(:last-child) {
  margin-right: 1rem;
}
i:hover {
  color: var(--primary-500);
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";

const techs = [
  {
    name: "Go",
    icon_class: "fab fa-golang",
    href: "https://golang.org/",
  },
  {
    name: "AWS",
    icon_class: "fab fa-aws",
    href: "https://aws.amazon.com/",
  },
  {
    name: "Kubernetes",
    icon_class: "fas fa-dharmachakra",
    href: "https://kubernetes.io/",
  },
];
</script>
