<template>
  <Card
    rowSpan="row-span-1"
    colSpan="col-span-1"
    title="Resume"
    href="/resume"
    :sameTab="true"
  >
  </Card>
</template>

<script setup>
import Card from "@/components/base/Card.vue";
import { ref } from "vue";

const modal = ref(null);
</script>
