<template>
  <Card
    rowSpan="row-span-1"
    colSpan="col-span-1"
    title="Self Hosted"
    href="http://server.dietrick.dev"
  >
  </Card>
</template>

<script setup>
import Card from "@/components/base/Card.vue";
</script>
