<template>
  <Card rowSpan="row-span-2" colSpan="col-span-1">
    <div class="social__container">
      <div class="social__item" v-for="social in socials" :key="social.name">
        <a :href="social.href" target="_blank">
          <i :class="social.icon_class"></i>
        </a>
      </div>
    </div>
  </Card>
</template>

<style scoped>
.social__container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.social__item {
  border-radius: 0.5rem;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: grid;
  place-items: center;
  min-height: 4rem;
}
i {
  font-size: 2.5rem;
  color: var(--darkslate-300);
}
.social__item:hover {
  background-color: var(--primary-500);
}
.social__item:hover i {
  color: var(--darkslate-900);
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";

const socials = [
  {
    name: "Gitlab",
    href: "http://gitlab.com/djdietrick",
    icon_class: "fab fa-gitlab",
  },
  {
    name: "Linkedin",
    href: "http://linkedin.com/in/djdietrick",
    icon_class: "fab fa-linkedin",
  },
  {
    name: "Docs",
    href: "http://docs.dietrick.dev",
    icon_class: "fas fa-book-open",
  },
  {
    name: "Phish",
    href: "https://phish.net/user/djdietrick/shows",
    icon_class: "fas fa-fish",
  },
];
</script>
