<template>
  <Card rowSpan="row-span-1" colSpan="col-span-1">
    <div class="time">{{ time }}</div>
  </Card>
</template>

<style scoped>
.time {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 100;
  color: var(--darkslate-300);

  /* transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.card:hover .time,
.card:focus .time {
  animation: pulse-time 1s infinite;
  color: var(--primary-500);
}

@keyframes pulse-time {
  0% {
    transform: scale(1);
  }
  75% {
    /* transform: scale(1.02); */
    color: var(--primary-300);
  }
  100% {
    transform: scale(1);
  }
}
</style>

<script setup>
import { ref } from "vue";
import moment from "moment";
import Card from "@/components/base/Card.vue";

function getCurrentTimeUTC() {
  return new Date().toUTCString();
}

function convertToTimeZone(time, timeZone) {
  return new Date(time).toLocaleString("en-US", { timeZone: timeZone });
}

function formatTime(time, timeZone) {
  return moment(time).format("h:mm A") + ` ${timeZone}`;
}

function getTime() {
  let ny_time = convertToTimeZone(getCurrentTimeUTC(), "America/New_York");
  return formatTime(ny_time, "EST");
}

let time = ref(getTime());
setInterval(() => {
  time.value = getTime();
}, 15 * 1000);
</script>
