<template>
  <Card rowSpan="row-span-4" colSpan="col-span-1" title="Work Experience">
    <div class="we-container">
      <div
        v-for="job in jobs"
        :key="job.company"
        class="job"
        :style="`--startColor: ${job.colors[0]}; --endColor: ${job.colors[1]}`"
      >
        <h6 class="job__title">{{ job.title }}</h6>
        <a :href="job.link" class="job__company fancy__link" target="_blank">
          {{ job.company }}
        </a>
        <p class="job__date">{{ job.date }}</p>
        <p class="job__description">{{ job.description }}</p>
      </div>
    </div>
  </Card>
</template>

<style scoped>
.we-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job:not(:first-child) {
  margin-top: 1rem;
}

.job__title {
  color: var(--darkslate-300);
}

.job__company {
  color: var(--darkslate-300);
  cursor: pointer;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

.job__description {
  color: var(--darkslate-300);
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: var(--fs-200);
}

.card .job__company {
  transition-duration: 0.5s;
}

.job__title {
  color: var(--darkslate-200);
}

.job__company {
  background: linear-gradient(to right, var(--startColor), var(--endColor));
  background-clip: text;
  color: transparent;
}

.job__date {
  color: var(--darkslate-300);
}
</style>

<script setup>
import Card from "@/components/base/Card.vue";

let jobs = [
  {
    title: "Fullstack Software Developer",
    company: "Liquidnet",
    date: "2020 - 2024",
    description: "Python, Vue, OracleSQL, Kubernetes, Gitops",
    colors: ["#F24A2C", "#A60194"],
    link: "https://www.liquidnet.com/",
  },
  {
    title: "Software Engineer",
    company: "Rebar Systems",
    date: "2017 - 2020",
    description: "C++, MySQL, Java, Rust",
    colors: ["#0C949D", "#FFFFFF"],
    link: "https://www.rebarsys.com/",
  },
];
</script>
