<template>
  <RouterView />
</template>

<script setup>
import { watchEffect, ref, onMounted } from "vue";
import bus from "@/bus.js";

let bodyRef = null;

function changeTheme(theme) {
  bodyRef.classList.remove(
    "blue-theme",
    "green-theme",
    "purple-theme",
    "orange-theme",
  );
  bodyRef.classList.add(theme);
  localStorage.setItem("dd-theme", theme);
}

bus.on("change-theme", changeTheme);

onMounted(() => {
  bodyRef = document.querySelector("body");
  let savedTheme = localStorage.getItem("dd-theme");
  if (savedTheme) {
    bodyRef.classList.add(savedTheme);
  } else {
    bodyRef.classList.add("blue-theme");
    localStorage.setItem("dd-theme", "blue-theme");
  }
});
</script>
