@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --darkslate-50: #f7f7f7;
    --darkslate-100: #e3e3e3;
    --darkslate-200: #c9c9c9;
    --darkslate-300: #6b6b6b;
    --darkslate-400: #383838;
    --darkslate-500: #171717;
    --darkslate-600: #141414;
    --darkslate-700: #111111;
    --darkslate-800: #0e0e0e;
    --darkslate-900: #0b0b0b;

    /* --primary-100: #bbdefb;
    --primary-200: #90caf9;
    --primary-300: #64b5f6;
    --primary-400: #42a5f5;
    --primary-500: #2196f3;
    --primary-600: #1e88e5;
    --primary-700: #1976d2;
    --primary-800: #1565c0;
    --primary-900: #0d47a1; */

    --blue-300: #64b5f6;
    --blue-500: #2196f3;
    --purple-300: #c4b5fd;
    --purple-500: #8b5cf6;
    --green-300: #a5d6a7;
    --green-500: #17b978;
    --orange-300: #ff9f68;
    --orange-500: #f85959;

    --ff-base: "Hind", sans-serif;
    --ff-accent: "Montserrat", sans-serif;

    /* --fs-100: clamp(0.6252rem, 0.8355rem + -0.2714vw, 0.7813rem);
    --fs-200: clamp(0.884rem, 0.9561rem + -0.093vw, 0.9375rem);
    --fs-300: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --fs-400: clamp(1.35rem, 1.2048rem + 0.7261vw, 1.7675rem);
    --fs-500: clamp(1.62rem, 1.3142rem + 1.5291vw, 2.4992rem);
    --fs-600: clamp(1.944rem, 1.391rem + 2.7651vw, 3.5339rem);
    --fs-700: clamp(2.3328rem, 1.4061rem + 4.6334vw, 4.997rem);
    --fs-800: clamp(2.7994rem, 1.3154rem + 7.4198vw, 7.0657rem); */

    --fs-100: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --fs-200: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --fs-300: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --fs-400: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --fs-500: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --fs-600: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --fs-700: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --fs-800: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

    --ss-sm: 640px;
    --ss-md: 768px;
    --ss-lg: 1024px;
    --ss-xl: 1280px;
  }
}

.blue-theme {
  --primary-100: #bbdefb;
  --primary-200: #90caf9;
  --primary-300: #64b5f6;
  --primary-400: #42a5f5;
  --primary-500: #2196f3;
  --primary-600: #1e88e5;
  --primary-700: #1976d2;
  --primary-800: #1565c0;
  --primary-900: #0d47a1;
}

.green-theme {
  /* --primary-100: #e8f5e9;
  --primary-200: #c8e6c9;
  --primary-300: #a5d6a7;
  --primary-400: #81c784;
  --primary-500: #66bb6a;
  --primary-600: #4caf50;
  --primary-700: #43a047;
  --primary-800: #388e3c;
  --primary-900: #2e7d32; */

  --primary-500: #17b978;
  --primary-300: #a7ff83;
}

.purple-theme {
  --primary-100: #ede9fe;
  --primary-200: #ddd6fe;
  --primary-300: #c4b5fd;
  --primary-400: #a78bfa;
  --primary-500: #8b5cf6;
  --primary-600: #7c3aed;
  --primary-700: #6d28d9;
  --primary-800: #5b21b6;
  --primary-900: #581c87;
}

.orange-theme {
  --primary-500: #f85959;
  --primary-300: #ff9f68;
}

html {
  /* for mobile devices, extends through the notch */
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  margin: 0;
  font-family: var(--ff-base);
  /* background-color: var(--darkslate-700); */
  background-image: linear-gradient(
    180deg,
    var(--darkslate-600) 0%,
    var(--darkslate-800) 100%
  );
  /* color: rgba(255, 255, 255, 0.87); */
  font-size: var(--fs-300);
}

.full-screen {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.4;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--ff-accent);
}

h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
  font-weight: 200;
  line-height: 2rem;
  color: var(--darkslate-300);
}

h4 {
  font-size: var(--fs-400);
  font-weight: 200;
  line-height: 1.5rem;
  color: var(--darkslate-200);
}

h5 {
  color: var(--darkslate-300);
  font-size: var(--fs-300);
}

h6 {
  color: var(--darkslate-200);
  /* font-size: var(--fs-200); */
}

p {
  color: var(--darkslate-100);
  font-weight: 100;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.text__accent {
  color: var(--primary-500);
  font-weight: 600;
}

.text__subdued {
  color: var(--darkslate-300);
}

.fancy__link {
  position: relative;
}

.fancy__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  background-image: inherit;
  background-clip: text;
  color: transparent;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in;
}

.fancy__link:hover::after {
  transform: scaleX(1);
  background: linear-gradient(to right, var(--startColor), var(--endColor));
}

.gradient__link {
  @extend .fancy__link;
}
